

.root *{
  padding: 10px;

}

/* section {
  background-color: #ff2727;
}

 div {
  background-color: #3527ff;
}

 article{
  background-color: #64ff27;
} */

.App {
  text-align: center;
}
section{
  min-height: 100vh;
  font-family: "Oxanium", sans-serif;

}
/* Nav */

nav {
  display:flex;
  flex-direction: row;
  position: fixed;
  top:0;
}


.Menu { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu a {
  color:#F82B4E;
  font-size: 24px;
  font-family: "Oxanium", sans-serif;
  padding: 10px;

}

.App-logo {
  height: 60px;
  pointer-events: none;
  padding: 10px;
  
}
@media (max-width: 700px){

  nav{
    justify-content: space-between;
    width: 94%;
    padding: 0 3%;
  }
  .HamburgerMenu{
    display:flex;
    align-items: center;
  }
  .Menu{
    display:none
  }
}

@media (min-width: 700px){
  .HamburgerMenu{
    display:none;
  }
  .Menu{
    display:flex;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 95px;
  }
}

.App-header {
  /* background-color: #120101; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #ff2727;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border: 0;
  box-shadow: none;
  background: transparent;
  color: #ffffff;
  font-size: 24px;
  font-family: "Oxanium", sans-serif;
}

button.btn1{
  background-image: url('./assets/herosection/Button.png');
}

button.btn2{
  background-image: url('./assets/herosection/Button2.png');
}

/* Hero section */
.Hero{
  background-image: url('./assets/herosection/heroBackground.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vmin;
}

.Hero div{
  padding: 150px 0 40px 0;
}

.title {


}

.HeroButtonsDiv{

}

.HeroButtonsDiv button{
  margin: 10px;
  width: 294px;
  height: 81px; 
}

/* The Project */

.TheProject{
  background-image: url('./assets/theproject/TheProjectBG.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}

/* All h2  */
 h2{
  display: none;
}

@media (min-width: 700px) {
  .TheProject div{
    display: flex;
    flex-direction: row;
  }



  h2{
    display: block;
    font-size: 180px;
    font-weight: 900;
    text-transform:uppercase;
    padding-top: 60px;
    margin: 0;
    color: #4A020A;
  }

  .TheProjectText{
    width: 50%;
    font-size: 32px;
  }
}

.TheProject article h4{
  color: #F82B4E;
  font-size: 32px;
  margin: 0;
  padding-top: 50px;
}

.TheProject p{
  padding: 40px;
  color: #ffffff;
}

.TheProjectImg{
  width: 100%;
}



/* Playstyles */

.playStyles{
  background-image: url('./assets/Playstyles/PlaystylesBG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vmin;

}

.mainPlayStyles article{
  background-image: url('./assets/Rewards/RwrdSpecFrame.png');
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 100% 100%;
  margin: 0 30px;
  padding: 20px 0;
  width: 20%;
  color: #ffffff;
}

/* Rewards */

.Rewards{
  background-image: url('./assets/Rewards/RewardsBG.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;

}



.RewardSpec{
  background-image: url('./assets/Rewards/RwrdSpecFrame.png');
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 100% 100%;
  margin: 0 30px;
  padding: 20px 0;
}

.RewardSpec h5{
  margin: 0;
}

.RewardSpec p{
  font-size: 16px;
  padding: 40px;
}

.RewardCardImg {
  width: 100%;
}

.RewardCardName{
  color: #F82B4E;
  font-size: 24px;
  
}

@media (min-width:700px) {
  .RewardCardImg {
    width: 30%;
  }

  .RewardSpec{
    width: 30%;
    position: relative;
    left: 60%;
    bottom: 298px;
  }
}



/* FAQ */

.h2Different{
  color: #341642;

}

/* How to play */

/* TOKEN */

/* Gallery */

/* Partners */

/* Footer */