

.root *{
  padding: 10px;

}

/* section {
  background-color: #ff2727;
}

 div {
  background-color: #3527ff;
}

 article{
  background-color: #64ff27;
} */

.App {
  text-align: center;
}
section{
  min-height: 100vh;
  font-family: "Oxanium", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  color: #ffffff;

}

h3, h4{
  margin: 0;
  padding: 20px;
}



p{
  margin: 0;
}

/* Nav */

nav {
  display:flex;
  flex-direction: row;
  position: fixed;
  top:0;
}


.Menu { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu a {
  color:#F82B4E;
  font-size: 24px;
  font-family: "Oxanium", sans-serif;
  padding: 10px;

}

.App-logo {
  height: 60px;
  pointer-events: none;
  padding: 10px;
  
}
@media (max-width: 700px){

  nav{
    justify-content: space-between;
    width: 94%;
    padding: 0 3%;
  }
  .HamburgerMenu{
    display:flex;
    align-items: center;
  }
  .Menu{
    display:none
  }
}

@media (min-width: 700px){
  .HamburgerMenu{
    display:none;
  }
  .Menu{
    display:flex;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 95px;
  }
}

.App-header {
  /* background-color: #120101; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #ff2727;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border: 0;
  box-shadow: none;
  background: transparent;
  color: #ffffff;
  font-size: 24px;
  font-family: "Oxanium", sans-serif;
}

button.btn1{
  background-image: url('./assets/herosection/Button.png');
}

button.btn2{
  background-image: url('./assets/herosection/Button2.png');
}

/* Hero section */
.Hero{
  background-image: url('./assets/herosection/heroBackground.png');

}

.Hero div{
  padding: 150px 0 40px 0;
}

.title {


}

.HeroButtonsDiv{

}

.HeroButtonsDiv button{
  margin: 10px;
  width: 294px;
  height: 81px; 
}

/* The Project */

.TheProject{
  background-image: url('./assets/theproject/TheProjectBG.png');

  padding-bottom: 40px;
}

/* All h2  */
 h2{
  display: none;
}

@media (min-width: 700px) {
  .TheProject div{
    display: flex;
    flex-direction: row;
  }



  h2{
    display: block;
    font-size: 180px;
    font-weight: 900;
    text-transform:uppercase;
    padding-top: 60px;
    margin: 0;
    color: #4A020A;
  } 

  .TheProjectText{
    width: 55%;
    font-size: 24px;
  }
}

.TheProject article h4{
  color: #F82B4E;
  font-size: 32px;
  margin: 0;
  padding-top: 50px;
}

.TheProject p{
  padding: 40px;
  color: #ffffff;
}

.TheProjectImg{
  width: 100%;
}



/* Playstyles */

.playStyles{
  background-image: url('./assets/Playstyles/PlaystylesBG.png');
  padding: 42px 0;

}

.mainPlayStyles article{
  background-image: url('./assets/Rewards/RwrdSpecFrame.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  padding: 20px;
  margin: 0 30px;
}

@media (min-width:700px) {
  .mainPlayStyles article{

    /* background-size: contain; */

    position: relative;
    padding: 20px 0;
    width: 20%;

  }

  .PSoandw{
    position: absolute;
    top: 150px;
    left: 150px;
  }

  .PSskills{

  }
}

.playStyles div h4{
  color: #F82B4E;
  text-align: center;
  font-family:  "Oxanium", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.playerImgFrame{

}

.playerImgBG{
  background-image: url('./assets/Playstyles/LogoBehindPlayer.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.playerImg{
  width: 60%;
}

@media (min-width:700px) {
  .playerImg{
    width: 30%;
  }
}

/* Rewards */

.Rewards{
  background-image: url('./assets/Rewards/RewardsBG.png');
  color: #ffffff;

}



.RewardSpec{
  background-image: url('./assets/Rewards/RwrdSpecFrame.png');
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 100% 100%;
  margin: 0 30px;
  padding: 20px 0;
}

.RewardSpec h5{
  margin: 0;
}

.RewardSpec p{
  font-size: 16px;
  padding: 40px;
}

.RewardCardImg {
  width: 100%;
}

.RewardCardName{
  color: #F82B4E;
  font-size: 24px;
  margin-bottom: 0;
  
}

@media (min-width:700px) {
  .RewardCardImg {
    width: 30%;
  }

  .RewardSpec{
    width: 30%;
    position: relative;
    left: 60%;
    bottom: 298px;
  }
}



/* FAQ */

.FAQ{
  background-image: url('./assets/FAQ/FAQbg.png');
  padding: 46px;
}

.h2Different{
  color: #341642;

}

.FAQQuestion, .FAQAnswer {
  background-image: url('./assets/herosection/Button.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 40px;
  display: flex;
  align-items: left;
  margin: 10px;

}

/* How to play */

.HowToPlay{
  background-image: url('./assets/HowToPlay/HowToPlayBG.png');
}

.HTPtext{
  padding: 40px;
}

/* TOKEN */

.Token{
  background-image: url('./assets/Token/TokenBG.png');
}

@media (min-width:700px) {
  .Token div{
    display: flex;
    flex-direction: row-reverse;
  }

  .Token article{
    width: 50%;
  }
}

.Token article{
  padding: 40px 0;
  
}

.Token article h4{
  color: #9B00E5;
  font-size: 36px;
  font-weight: 500;

}

.Token article p{
  padding: 0 40px;
  text-align: start;
}

.TokenImg {
  width: 60%;
}

/* Gallery */

.Gallery{
  background-image: url('./assets/Gallery/GalleryBG.png');
}

/* Partners */

.Partners{
  background-image: url('./assets/Partners/PartnersBG.png');
}

/* Footer */