

.root *{
  padding: 10px;

}

/* section {
  background-color: #ff2727;
}

 div {
  background-color: #3527ff;
}

 article{
  background-color: #64ff27;
} */

.App {
  text-align: center;
}
section{
  min-height: 100vh;
  font-family: "Oxanium", sans-serif;

}
/* Nav */

nav {
  display:flex;
  flex-direction: row;
  position: fixed;
  top:0;
}


.Menu { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu a {
  color:#F82B4E;
  font-size: 24px;
  font-family: Oxanium;
  padding: 10px;

}

.App-logo {
  height: 60px;
  pointer-events: none;
  padding: 10px;
  
}

@media (max-width: 700px){
  
  nav{
    justify-content: space-between;
    width: 94%;
    padding: 0 3%;
  }
  .HamburgerMenu{
    display:block;
  }
  .Menu{
    display:none
  }
}

@media (min-width: 700px){
  .HamburgerMenu{
    display:none;
  }
  .Menu{
    display:flex;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 95px;
  }
}

.App-header {
  /* background-color: #120101; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #ff2727;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  background-color: #F82B4E;
}

/* Hero section */
.Hero{
  background-image: url('./assets/herosection/heroBackground.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vmin;
}

.Hero div{
  padding: 150px 0 40px 0;
}

.title {


}

.HeroButtonsDiv{

}

.HeroButtonsDiv button{
  margin: 10px;
  width: 294px;
  height: 81px; 
}